# 高德地图 API Key
# 申请地址: https://lbs.amap.com/
# 类型: Web服务 Key
AMAP_KEY=your_amap_key_here

# 百度地图 AK
# 申请地址: https://lbs.baidu.com/
# 类型: 服务端 AK
BAIDU_AK=your_baidu_ak_here

# 天地图 TK
# 申请地址: http://lbs.tianditu.gov.cn/
# 类型: 应用 Key
TIANDITU_TK=your_tianditu_tk_here